*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  box-sizing: border-box;
  background-color: #f6f0f8;
}

html,
body {
  margin: 0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.logo {
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  padding: 0 1rem;
}

.home-hero {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

.navigation__item {
  display: inline-block;
  padding: 0 1.8rem;
}
@media only screen and (max-width: 37.5em) {
  .navigation__item {
    display: none;
  }
}

.navigation__link,
.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
  transition: all 0.3s;
}

.navigation__link:hover {
  color: #ffa382;
}

.navigation--small {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .navigation--small {
    display: block;
  }
}
.navigation--small__checkbox {
  display: none;
}
.navigation--small__button {
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 20;
  text-align: center;
  box-shadow: 0 1px 8px rgba(102, 102, 102, 0.5);
  cursor: pointer;
}
.navigation--small__bg {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-image: radial-gradient(#ffa382, #ff5c80);
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 10;
  transition: all 0.3s;
}
.navigation--small__list {
  z-index: 15;
  position: fixed;
  top: 50%;
  left: 50%;
  list-style: none;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
  opacity: 0;
  transition: all 0.3s;
}
.navigation--small__link,
.navigation--small__link:link,
.navigation--small__link:visited {
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 0;
}
.navigation--small__link:hover,
.navigation--small__link:active {
  color: royalblue;
}
.navigation--small__checkbox:checked ~ .navigation--small__bg {
  transform: scale(60);
}
.navigation--small__checkbox:checked ~ .navigation--small__list {
  display: block;
  opacity: 1;
}
.navigation--small__icon {
  position: relative;
  margin-top: 2.4rem;
}
.navigation--small__icon,
.navigation--small__icon::after,
.navigation--small__icon::before {
  width: 25px;
  height: 2px;
  display: inline-block;
  background-color: #ff5c80;
}
.navigation--small__icon::after,
.navigation--small__icon::before {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation--small__icon::before {
  top: -6px;
}
.navigation--small__icon::after {
  top: 6px;
}
.navigation--small__button:hover .navigation--small__icon::before {
  top: -8px;
}
.navigation--small__button:hover .navigation--small__icon::after {
  top: 8px;
}
.navigation--small__checkbox:checked
  + .navigation--small__button
  .navigation--small__icon {
  background-color: transparent;
}
.navigation--small__checkbox:checked
  + .navigation--small__button
  .navigation--small__icon::before {
  top: 0;
  transform: rotate(45deg);
}
.navigation--small__checkbox:checked
  + .navigation--small__button
  .navigation--small__icon::after {
  top: 0;
  transform: rotate(-45deg);
}

.btn {
  background-image: linear-gradient(-39deg, #ffa382 0%, #ff5c80 100%);
  box-shadow: 0px 2px 24px 0px rgba(245, 98, 103, 0.61);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s;
}
.btn:hover {
  transform: translateY(-4px);
  color: #fff;
}

.btn-short {
  width: 120px;
  line-height: 45px;
}

.btn-danger {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  background-color: #ff5c80;
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
  width: 120px;
  line-height: 45px;
  margin-bottom: 2rem;
  border: none;
}

.btn-long {
  width: 180px;
  line-height: 50px;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 37.5em) {
  .btn-long {
    width: 145px;
  }
}

.btn-light {
  background-image: none;
  border: 2px solid #ff5c80;
  width: 178px;
  line-height: 48px;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 37.5em) {
  .btn-light {
    width: 143px;
  }
}

.main-title {
  color: #fff;
  font-size: 4rem;
  line-height: 1.6;
  font-weight: 100;
  text-align: center;
  margin: 14rem 0 8rem 0;
}
@media only screen and (max-width: 37.5em) {
  .main-title {
    font-size: 2.3rem;
  }
}

.ctas {
  text-align: center;
  padding-bottom: 11.6rem;
}
.ctas .cta-primary {
  margin-right: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .ctas .cta-primary {
    margin-right: 1.5rem;
  }
}

.second-title {
  color: #ff5c80;
  font-size: 2.4rem;
  margin: 5rem 0 8rem 1rem;
}
@media only screen and (max-width: 50em) {
  .second-title {
    text-align: center;
  }
}

.recipes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 1rem;
}

@media only screen and (max-width: 60.625em) {
  .recipes {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.recipe {
  max-width: 38rem;
  color: #666;
  background-color: #fff;
  box-shadow: 0px 2px 24px 0px rgba(245, 98, 103, 0.15);
  text-align: center;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 60.625em) {
  .recipe {
    max-width: 30rem;
  }
}
@media only screen and (max-width: 50em) {
  .recipe {
    max-width: 44rem;
  }
}
.recipe__img {
  overflow: hidden;
  width: 100%;
  height: 21rem;
  margin-bottom: 3rem;
}
.recipe__img__img {
  width: 100%;
}
.recipe__title,
.recipe__title:link,
.recipe__title:visited {
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
  color: #666;
  transition: all 0.3s;
}
.recipe__title:hover {
  color: #ff5c80;
}
.recipe__line {
  margin: 3rem auto;
  max-width: 32rem;
  height: 2px;
  background-color: #ff5c80;
  opacity: 0.4;
}
.recipe__details {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}
.recipe__time {
  display: flex;
  font-size: 1.4rem;
}
.recipe__time__icon {
  height: 18px;
  margin-right: 2rem;
}
.recipe__author,
.recipe__author:link,
.recipe__author:visited {
  color: #666;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.3s;
}
.recipe__author:hover {
  color: #ff5c80;
}

.footer {
  margin-top: 4rem;
  padding: 2rem 0;
  background-image: url(../img//footer.jpg);
}
@media only screen and (max-width: 37.5em) {
  .footer {
    padding: 0.8rem 0;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media only screen and (max-width: 37.5em) {
  .footer-container {
    flex-direction: column;
  }
}

.legal {
  font-size: 1.6rem;
  color: #fff;
}
@media only screen and (max-width: 37.5em) {
  .legal {
    margin: 0.8rem 0;
  }
}

.social {
  padding-right: 1rem;
}
.social * {
  height: 30px;
  margin-left: 1rem;
}

.creators-hero {
  background-image: url(../img/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.profile {
  display: flex;
  padding: 6rem 1rem;
}
@media only screen and (max-width: 50em) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.profile__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.profile__img__img {
  height: 100%;
}
.profile__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2rem;
  font-size: 1.6rem;
  color: #fff;
}
@media only screen and (max-width: 50em) {
  .profile__details {
    margin-left: 0;
  }
}
.profile__name {
  font-size: 2rem;
}
@media only screen and (max-width: 50em) {
  .profile__name {
    margin-top: 1rem;
  }
}
.profile__status {
  margin-top: -3.5rem;
}
@media only screen and (max-width: 50em) {
  .profile__status {
    margin-top: 1rem;
  }
}
.profile__social * {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}
@media only screen and (max-width: 50em) {
  .profile__social {
    margin-top: 1rem;
  }
}
.profile__bio {
  flex: 1 0;
  margin-top: 3rem;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.6;
  margin-left: 8rem;
}
@media only screen and (max-width: 50em) {
  .profile__bio {
    margin: 0;
    padding: 1rem 3rem;
  }
}
.profile__btn {
  align-self: flex-start;
  margin-top: 2rem;
}
@media only screen and (max-width: 50em) {
  .profile__btn {
    align-self: center;
  }
}
.profile__btn,
.profile__btn:link,
.profile__btn:visited {
  width: 180px;
  line-height: 45px;
  border-radius: 5px;
  background-color: #fff;
  color: #ff5c80;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s;
}
.profile__btn:hover {
  background-color: #f6f0f8;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
}

.user {
  background-color: #ff5c80;
  border-radius: 5px;
  width: 60rem;
  margin-top: 4rem;
  padding: 2rem 4rem;
}
@media only screen and (max-width: 50em) {
  .user {
    width: 40rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .user {
    width: 20rem;
  }
}

.third-title {
  font-size: 3rem;
  color: #ff5c80;
  text-align: center;
  font-weight: 100;
  margin-top: 6rem;
}

.forth-title {
  font-size: 2.2rem;
  color: #ff5c80;
  text-align: center;
  font-weight: 100;
  margin-top: 3rem;
}

.register {
  max-width: 100rem;
  margin: 5rem auto;
  display: flex;
  background-color: #fff;
  box-shadow: 0px 2px 24px 0px rgba(245, 98, 103, 0.27);
}
.register__img {
  width: 50rem;
  height: 60rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 37.5em) {
  .register__img {
    display: none;
  }
}
.register__img__img {
  height: 100%;
}
.register__form {
  width: 50rem;
  height: 60rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}
.register__input {
  width: 40rem;
  height: 5rem;
  border-radius: 5px;
  border: 1px solid #ff5c80;
  margin: 1rem auto;
  padding: 0rem 2rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #666;
}
@media only screen and (max-width: 37.5em) {
  .register__input {
    max-width: 28rem;
  }
}
.register__btn {
  cursor: pointer;
  margin-top: 3rem;
}
.register__btn,
.register__btn:link,
.register__btn:visited {
  width: 40rem;
  line-height: 5rem;
  border: none;
  border-radius: 5px;
  background-color: #ff5c80;
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.3s;
}
@media only screen and (max-width: 37.5em) {
  .register__btn,
  .register__btn:link,
  .register__btn:visited {
    max-width: 28rem;
  }
}
.register__btn:hover {
  transform: translateY(-4px);
}
.register__text {
  font-size: 1.6rem;
  color: #666;
  margin-top: 1rem;
}
.register__link,
.register__link:link,
.register__link:visited {
  font-size: 1.6rem;
  color: #ff5c80;
  text-decoration: none;
}

.login {
  max-width: 100rem;
  margin: 5rem auto;
  display: flex;
  background-color: #fff;
  box-shadow: 0px 2px 24px 0px rgba(245, 98, 103, 0.27);
}
.login__img {
  width: 50rem;
  height: 60rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 37.5em) {
  .login__img {
    display: none;
  }
}
.login__img__img {
  height: 100%;
}
.login__form {
  width: 50rem;
  height: 60rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}
.login__input {
  width: 40rem;
  height: 5rem;
  border-radius: 5px;
  border: 1px solid #ff5c80;
  margin: 1rem auto;
  padding: 0rem 2rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #666;
}
@media only screen and (max-width: 37.5em) {
  .login__input {
    max-width: 28rem;
  }
}
.login__btn {
  cursor: pointer;
  margin-top: 3rem;
}
.login__btn,
.login__btn:link,
.login__btn:visited {
  width: 40rem;
  line-height: 5rem;
  border: none;
  border-radius: 5px;
  background-color: #ff5c80;
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.3s;
}
@media only screen and (max-width: 37.5em) {
  .login__btn,
  .login__btn:link,
  .login__btn:visited {
    max-width: 28rem;
  }
}
.login__btn:hover {
  transform: translateY(-4px);
}
.login__text {
  font-size: 1.6rem;
  color: #666;
  margin-top: 1rem;
}
.login__link,
.login__link:link,
.login__link:visited {
  font-size: 1.6rem;
  color: #ff5c80;
  text-decoration: none;
}

.create {
  margin-top: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create__input {
  width: 50rem;
  height: 4.8rem;
  display: block;
  font-size: 1.6rem;
  color: #666;
  padding: 0 1rem;
  box-sizing: border-box;
  border: 1px solid #ff5c80;
  border-radius: 5px;
  margin: 1rem 0;
}
@media only screen and (max-width: 37.5em) {
  .create__input {
    max-width: 28rem;
  }
}
.create__area {
  width: 50rem;
  height: 20rem;
  display: block;
  font-size: 1.6rem;
  font-family: inherit;
  color: #666;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #ff5c80;
  border-radius: 5px;
  margin: 1rem 0;
}
@media only screen and (max-width: 37.5em) {
  .create__area {
    max-width: 28rem;
  }
}
.create__info {
  text-align: start;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: #666;
}

.socials {
  margin-top: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socials__info {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: #666;
}
.socials__input {
  width: 50rem;
  height: 4.8rem;
  display: block;
  font-size: 1.6rem;
  color: #666;
  padding: 0 1rem;
  box-sizing: border-box;
  border: 1px solid #ff5c80;
  border-radius: 5px;
  margin: 1rem 0;
}
@media only screen and (max-width: 37.5em) {
  .socials__input {
    max-width: 28rem;
  }
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-submit {
  cursor: pointer;
  margin-top: 3rem;
}
.btn-submit,
.btn-submit:link,
.btn-submit:visited {
  width: 50rem;
  line-height: 5rem;
  border: none;
  border-radius: 5px;
  background-color: #ff5c80;
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.3s;
}
@media only screen and (max-width: 37.5em) {
  .btn-submit,
  .btn-submit:link,
  .btn-submit:visited {
    max-width: 28rem;
  }
}
.btn-submit:hover {
  transform: translateY(-4px);
}

.post {
  max-width: 80rem;
  margin: 10rem auto;
  padding: 0 1rem;
}
.post__img {
  max-width: 80rem;
  max-height: 45rem;
  overflow: hidden;
}
.post__img__img {
  width: 100%;
}
.post__infos {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.post__title {
  font-size: 1.8rem;
  color: #ff5c80;
}
@media only screen and (max-width: 37.5em) {
  .post__title {
    font-size: 1.4rem;
  }
}
.post__cooking {
  font-size: 1.8rem;
  color: #ff5c80;
  display: flex;
  text-align: right;
}
@media only screen and (max-width: 37.5em) {
  .post__cooking {
    font-size: 1.4rem;
  }
}
.post__time {
  color: #666;
  margin-left: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .post__time {
    margin-left: 1.4rem;
  }
}
.post__how {
  margin-top: 10rem;
}
.post__howTitle {
  font-size: 1.8rem;
  color: #ff5c80;
}
@media only screen and (max-width: 37.5em) {
  .post__howTitle {
    font-size: 1.4rem;
  }
}
.post__details {
  font-size: 1.6rem;
  color: #666;
  margin-top: 2rem;
  line-height: 1.8;
}
@media only screen and (max-width: 37.5em) {
  .post__details {
    font-size: 1.4rem;
  }
}
.post__likes {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.post__heart {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.post__number {
  font-size: 1.6rem;
  color: #ff5c80;
  margin-left: 1rem;
}
.post__comment {
  margin-top: 8rem;
  width: 100%;
  height: 6rem;
  border: none;
  font-size: 1.6rem;
  color: #666;
  padding: 2rem;
  box-sizing: border-box;
  font-family: inherit;
}
.post__submit,
.post__submit:link,
.post__submit:visited {
  cursor: pointer;
  width: 16rem;
  height: 4rem;
  background-color: #ff5c80;
  border: none;
  color: #fff;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.comment {
  max-width: 80rem;
  margin: 4rem auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 1rem;
}
@media only screen and (max-width: 37.5em) {
  .comment {
    flex-direction: column;
    align-items: center;
  }
}
.comment__user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .comment__user {
    flex-direction: row;
  }
}
.comment__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 37.5em) {
  .comment__img {
    width: 50px;
    height: 50px;
  }
}
.comment__img__img {
  height: 100%;
}
.comment__name {
  font-size: 1.4rem;
  color: #ff5c80;
}
.comment__comment {
  max-width: 50rem;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.6;
  word-break: break-all;
  color: #666;
  padding: 2rem;
  margin-left: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .comment__comment {
    font-size: 1.4rem;
    margin-left: 0;
    margin-top: 1rem;
  }
}

.upload {
  max-width: 60rem;
  margin: 0 auto;
}
.upload__img {
  margin-top: 4rem;
  width: 100%;
  font-size: 1.6rem;
  background-color: #fff;
  padding: 1rem 2rem;
  box-sizing: border-box;
}
.upload__btn {
  width: 100%;
  height: 4rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #ff5c80;
  border: none;
  border-radius: 5px;
  margin-top: 3rem;
}

/* error */

.invalid {
  border: 2px solid red;
}

.error-class {
  font-size: 1.3rem;
  color: #ff5c80;
}

.actions {
  text-align: right;
  padding: 2rem;
}
.actions__primary {
  margin-right: 3rem;
}

.about {
  margin: 12rem auto;
  font-size: 1.8rem;
  color: #666;
}
